<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1 class="heading">CALCULATOR</h1>
<div class="calculator">
    <div class="input-top">
        <input type="text" placeholder="0" class="txtbox" readonly [(ngModel)]="in">
        <input type="text" placeholder="0" class="txtbox" readonly  [(ngModel)]="out">
    </div>

    <div class="number-btns">
        <input type="button" value="C" class="btn clr" (click)="clear()">
        <input type="button" value="%" class="btn" (click)="display('%')">
        <input type="button" value="/" class="btn" (click)="display('/')">
        <input type="button" value="<" class="btn" (click)="delete()">
    
        <input type="button" value="7" class="btn" (click)="display('7')">
        <input type="button" value="8" class="btn" (click)="display('8')">
        <input type="button" value="9" class="btn" (click)="display('9')">
        <input type="button" value="x" class="btn" (click)="display('*')">
    
        <input type="button" value="4" class="btn" (click)="display('4')">
        <input type="button" value="5" class="btn" (click)="display('5')">
        <input type="button" value="6" class="btn" (click)="display('6')">
        <input type="button" value="-" class="btn" (click)="display('-')">
    
        <input type="button" value="1" class="btn" (click)="display('1')">
        <input type="button" value="2" class="btn" (click)="display('2')">
        <input type="button" value="3" class="btn" (click)="display('3')">
        <input type="button" value="+" class="btn" (click)="display('+')">
    
        <input type="button" value="0" class="btn " (click)="display('0')">
        <input type="button" value="." class="btn " (click)="display('.')">
        <input type="button" value="=" class="btn equ" (click)="evaluate()">
    </div>

</div>
    

    
   
    
</body>
</html> 
